input {
    border-radius: 22px;
    border: 1px solid #999999;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    width: 50dvw;
    padding: 10px 15px;
    color: #FFFFFF;
}