.perfil {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #E5E5E5;
    margin-right: 32px;
}
.perfil h3 {
    color: #999999;
    font-size: 24px;
    margin: 0;
}
.perfil span {
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 5px 0 0 0;
}
.perfil p {
    color: #999999;
    font-size: 12px;
    margin: 15px 0 0 0;
}
@media (max-width: 450px) {
    .perfil {
        display: block;
    }
    .profile {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}
